@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeueMediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/fonts/HelveticaNeueLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --font-base: "Helvetica Neue", Arial, sans-serif;
  --font-light: "Helvetica Neue Light", Arial, sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-base);
}

.wallet-adapter-button-trigger {
  background-color: #a1a1aa !important;
  border-radius: 0.5rem !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  color: black !important;
  font-size: 14px !important;
}

/* New styles from solana-provider.tsx */
.wallet-adapter-button:hover {
  background-color: #71717a !important;
}

.wallet-adapter-button-trigger:hover {
  background-color: #71717a !important;
}

.wallet-adapter-button-start-icon img {
  border-radius: 50% !important;
  filter: grayscale(100%) !important;
}

.wallet-adapter-button-trigger:hover .wallet-adapter-button-start-icon img {
  filter: grayscale(100%) invert(1) !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.font-base {
  font-family: var(--font-base);
}

.font-light {
  font-family: var(--font-light);
}